.content-skill 
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 2rem;
    color: black;
}

#skill
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 40px;
    color: black;
    width: 750px;
}

#journey
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 40px;
    width: 750px;
}

#passions
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 40px;
    width: 750px;
}

/* DARK MODE */

.dark-mode .content-skill 
{
    color: white;
}

.dark-mode #skill 
{
    color: white;
}


/* Mobile */
@media (max-width: 767px) 
{
    .flex
    {
        order: 1;
        margin: 0 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    aside
    {
        order : 0;
    }

    main h1
    {
        margin-bottom: unset;
        font-size: 3rem;
        font-weight: 400;
    }

    aside nav::before 
    {
      display: none;
    }

    #skill
    {
        align-items: center;
        gap: 20px;
        margin: 0 20px 40px;
        width: 100%;
    }

    #journey
    {
        align-items: center;
        gap: 20px;
        margin: 0 20px 40px;
        width: 100%;
    }

    #passions
    {
        align-items: center;
        gap: 20px;
        margin: 0 20px 40px;
        width: 100%;
    }
}

/* Tablettes */
@media (min-width: 768px) and (max-width: 1023px) 
{
    .flex
    {
        order: 1;
        margin: 0 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    aside
    {
        order : 0;
    }

    main h1
    {
        margin-bottom: unset;
        font-size: 3rem;
        font-weight: 400;
    }

    aside nav::before 
    {
      display: none;
    }

    #skill
    {
        align-items: center;
        gap: 20px;
        margin: 0 20px 40px;
        width: 100%;
    }

    #journey
    {
        align-items: center;
        gap: 20px;
        margin: 0 20px 40px;
        width: 100%;
    }

    #passions
    {
        align-items: center;
        gap: 20px;
        margin: 0 20px 40px;
        width: 100%;
    }
}

/* Petit écrans de PC */
@media (min-width: 1023px) and (max-width: 1600px) 
{

    .flex {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 30%;
        width: 100%;
        flex-wrap: wrap;
    }
    
    #skill 
    {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        flex-wrap: wrap;
        margin: 0 auto 40px;
    }

    #passions
    {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        flex-wrap: wrap;
        margin: 0 auto 40px;
    }

    #journey
    {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        flex-wrap: wrap;
        margin: 0 auto 40px;
    }

}